.dialogdemoBasicUsage .dialogDemo1 {
  height: 500px; }
.dialogdemoBasicUsage .full {
  width: 100%;
  height: 100%; }
.dialogdemoBasicUsage .dialog-demo-content div {
  text-align: center; }
.dialogdemoBasicUsage .dialog-demo-content div .md-button {
  display: inline-block; }
.dialogdemoBasicUsage md-dialog md-dialog-content.sticky-container {
  padding: 0; }
.dialogdemoBasicUsage md-dialog md-dialog-content.sticky-container > div {
  padding: 0 24px 24px; }
.dialogdemoBasicUsage .md-subheader {
  background-color: #dcedc8;
  margin: 0; }
.dialogdemoBasicUsage h2.md-subheader.md-sticky-clone {
  margin-right: 0;
  margin-top: 0;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); }
.dialogdemoBasicUsage h2 .md-subheader-content {
  padding-left: 10px; }
